.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 1rem 2rem;
  background: rgb(188, 188, 227);
  display: flex;
  align-items: center;
}
.footer a {
  display: flex;
  align-items: center;
  color: rgb(59, 76, 91);
  padding: 0 1rem;
  flex-basis: 50%;
  font-size: 0.8rem;
  text-decoration: none;
  font-variant-caps: all-petite-caps;
}
